body{
    background-color: cornsilk;
}

h2{
    font-size: 100%;
    text-align: center;
    font-style: italic;
    padding: 12pt;
    color:black
    
}

h3{
    text-align: left;
    font-size: 20pt;
    margin-top: 15pt;
    
}
p{
    text-align: justify;
}
img{
    border: 260px;
    color: coral;
}

a{
    color: black;
}

/*class selector*/
.bebas{
    color:darkgoldenrod
}

#footer{
    text-align: right;
    color:rgb(126, 165, 126)
}


